{% extends 'base.html' %}

{% block body %}
  <div>
    {{ title }}
  </div>

  <form method="post">
    {% csrf_token %}
    <!-- Project-related attributes -->
    <div>
      {{ form.as_p }}
    </div>

    <!-- Project PRs -->
    <div>
      <!-- Existing PRs -->
      <div id="existing-prs">
        {% for pull_request in pull_requests %}
          <div id="existing-prs-{{ pull_request.id }}">
            <input type="hidden" name="pull_requests" value="{{ pull_request.id }}">
            {% include 'interface/shared/pull_request.html' %}
            <button id="existing-prs-{{ pull_request.id }}-delete-btn" type="button">Delete</button>
          </div>
        {% endfor %}
      </div>

      <!-- Adding a new PR button -->
      <div id="new-pr-btn-container">
        <button id="new-pr-btn" type="button">New Pull Request</button>
      </div>

      <!-- Front-end only form to add a new PR -->
      <div id="new-pr-form" hidden>
        <!-- Repository dropdown box -->
        <div>
          <label>Repository</label>
          <select id="new-pr-repositories">
            <option value="" selected="selected">-----------</option>
            {% for repository in repositories %}
              <option value="{{ repository.id }}">{{ repository.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Pull requests drop-down box -->
        <div>
          <label>Pull Request</label>
          {# Options will be loaded dynamically once user has selected the repo #}
          <select id="new-pr-pull-requests" disabled="disabled"></select>
        </div>

        <!-- Add button -->
        <div>
          <button id="new-pr-add-btn" type="button">Add</button>
          <button id="new-pr-cancel-btn" type="button">Cancel</button>
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <button type="submit">Save Changes</button>

  </form>
{% endblock %}

{% block extra_js %}
  <script type="application/javascript">
    $(document).ready(function () {
      $('#new-pr-btn').click(function () {
        $('#new-pr-btn-container').toggle('hidden');
        $('#new-pr-form').toggle('hidden');
      });
      $('#new-pr-repositories').change(function () {
        let repoId = $('#new-pr-repositories option:selected').val();
        let url = `/api/repos/${repoId}/pull_requests`;
        $.get(url, function (data) {
          $('#new-pr-pull-requests').html(data).removeAttr('disabled');
        })
      });
      $('#new-pr-add-btn').click(function () {
        let prId = $('#new-pr-pull-requests option:selected').val();
        if(prId){
          // Check if this PR is not already existing on this project
          let prSelected = false;
          $('input[name="pull_requests"]').each(function (i, e) {
            if(parseInt(e.value) == parseInt(prId)){
              prSelected = true;
              return false;
            }
          });

          if(prSelected){
            window.alert('The selected PR is already included in this project.')
          }
          else{
            let url = `/api/pull_requests/${prId}/template`;
            $.get(url, function (data) {
              let html = `<div  id="existing-prs-${prId}">` +
                         `<input type="hidden" name="pull_requests" value="${prId}">` + data +
                         `<button id="existing-prs-${prId}-delete-btn" type="button">Delete</button></div>`;

              $('#existing-prs').append(html);
              $(`#existing-prs-${prId}-delete-btn`).click(function () {
                $(`#existing-prs-${prId}`).remove();
              });
              $('#new-pr-btn-container').toggle('hidden');
              $('#new-pr-form').toggle('hidden');
            })
          }
        }
        else{
          $('#new-pr-errors').text('No PR was selected');
        }
      });
      $('#new-pr-cancel-btn').click(function () {
        $('#new-pr-btn-container').toggle('hidden');
        $('#new-pr-form').toggle('hidden');
      })
    })
  </script>
{% endblock %}
